<div class="seats-container">
    <div class="seats-header">
        <h1>{{this.sectionName}}</h1>
        <div class="buttons-container">

            <button class="btn-standard" [ngClass]="{'btn-open': !ballotOpen, 'btn-close': ballotOpen}"
                (click)="toggleBallot()">
                {{ ballotOpen ? 'Chiudi Seggio' : 'Apri Seggio' }}
            </button>
            <button class="btn-standard btn-logout" (click)="logout()">Logout</button>
        </div>
    </div>

    <div *ngIf="loading" class="loading-container">
        <div class="spinner"></div>
        <p>Caricamento in corso...</p>
    </div>

    <div *ngIf="error" class="error-message">
        {{ error }}
    </div>

    <div *ngIf="!loading && !error">


        <div class="special-votes-section">

            <div class="special-votes-container">
                <div class="special-vote-box null-vote-box">
                    <h3>Voti Nulli</h3>
                    <div class="vote-control-panel">
                        <button class="vote-btn vote-btn-plus" [disabled]="!ballotOpen"
                            (click)="onNullVotesClick()">+</button>
                        <span class="vote-count">{{ nullVotes }}</span>
                        <button class="vote-btn vote-btn-minus" [disabled]="!ballotOpen || nullVotes === 0"
                            (click)="decrementNullVotes()">-</button>
                    </div>
                </div>

                <div class="special-vote-box blank-vote-box">
                    <h3>Voti Bianchi</h3>
                    <div class="vote-control-panel">
                        <button class="vote-btn vote-btn-plus" [disabled]="!ballotOpen"
                            (click)="onBlankVotesClick()">+</button>
                        <span class="vote-count">{{ blankVotes }}</span>
                        <button class="vote-btn vote-btn-minus" [disabled]="!ballotOpen || blankVotes === 0"
                            (click)="decrementBlankVotes()">-</button>
                    </div>
                </div>
            </div>





            <div class="parties-grid">
                <app-party-column *ngFor="let partyListCardModel of partyListCardModels"
                    [partyListCardModel]="partyListCardModel" [ballotOpen]="ballotOpen"
                    (incrementCounter)="onIncrementCounter($event)"
                    (decrementCounter)="onDecrementCounter($event)"></app-party-column>
            </div>
        </div>
    </div>