<div class="person-card">
    <div class="image-container">
        <img *ngIf="imagesLoaded" [src]="imageUrl"
            [alt]="candidateCardModel.lastName + ' ' + candidateCardModel.firstName">
        <!-- Opzionale: mostra un placeholder durante il caricamento -->
        <div *ngIf="!imagesLoaded" class="loading-placeholder">Loading...</div>
    </div>
    <div class="content-container">
        <div *ngIf="showCounter" class="counter">{{ candidateCardModel.counter }}</div>
        <div class="info">
            <h3 class="last-name">{{ candidateCardModel.lastName }}</h3>
            <p class="first-name">{{ candidateCardModel.firstName }}</p>
        </div>
    </div>
</div>