<div class="person-card">
    <div class="card-left">
        <div class="image-container">
            <img *ngIf="imagesLoaded" [src]="imageUrl"
                [alt]="candidateCardModel.lastName + ' ' + candidateCardModel.firstName">
            <div *ngIf="!imagesLoaded" class="loading-placeholder">Loading...</div>
        </div>
        <div class="info">
            <h4 class="last-name">{{ candidateCardModel.lastName }}</h4>
            <p class="first-name">{{ candidateCardModel.firstName }}</p>
        </div>
    </div>
    <div class="card-right">
        <div class="counter">
            <input type="number" [(ngModel)]="tempCounter" [disabled]="!ballotOpen"
                (keydown.escape)="validateAndUpdate()" (keydown.enter)="validateAndUpdate()"
                (blur)="validateAndUpdate()" min="0" class="counter-input">
        </div>
        <div class="buttons">
            <button class="btn increment" [disabled]="!ballotOpen" (click)="onIncrement($event)">+</button>
            <button class="btn decrement" [disabled]="!ballotOpen" (click)="onDecrement($event)">−</button>
        </div>
    </div>
</div>